*.vtu
.venv/**
.vscode/**
*.msh
*.vtk
*.geo
*.inp
*.dat
*.out
*.fbd
*.frd
*.sta
*.pvd
*.m
*.cvg
*.eig
*.lst
teste - Copia.txt

# Arquivos de teste e resultados
teste/*.geo
teste/*.msh
teste/*.inp
teste/*.dat
teste/*.out
teste/*.fbd
teste/*.frd
teste/*.sta
teste/*.pvd
teste/*.m
teste/*.cvg
teste/*.eig
teste/*.lst
teste/resultados_*/
